/* ----------------hero section-------------------- */
body{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


.hero-section {
  color: white; 
  background-image: url('./images/about-hero-banner.png'); 
  background-size: cover; 
  background-position: center; 
  min-height: 400px; 
  display: flex;
  align-items: flex-end; /* Aligns content to the bottom */
  justify-content: flex-start; /* Aligns content to the left */
  text-align: left;
  padding: 0;
  padding-bottom: 20px; /* Bottom padding to move content up slightly from the very bottom */
}

.hero-section h1 {
  font-size: 45px;
  text-align: left;
  margin: 0;
}

@media (max-width: 768px) {
  .hero-section h1  {
    color: #fff;
    font-size: 35px;
  }
  .hero-section {
    padding-bottom: 10px; /* Slightly less bottom padding */
  }
  .hero-section h1 {
    font-size: 2.5rem; /* Smaller font size */
  }
}

@media (max-width: 480px) {
  .hero-section {
    padding-bottom: 5px; /* Minimal bottom padding */
  }
  .hero-section h1 {
    font-size: 2.2rem; /* Smaller font size for mobile screens */
  }
}

@media (min-width: 768px) {
  .hero-section {
    padding-bottom: 30px; /* More bottom padding for aesthetic balance */
  }
  .hero-section h1 {
    font-size: 3.5rem; /* Larger font size for better visibility on bigger screens */
  }
  .overlay-content {
    max-width: 70%; /* Larger max-width for a more extended text line */
  }
}

.overlay-content {
  max-width: 90%;
}


/* -------------------------------------------------------------------------- */
